<h1><%= t('.header', title: @test_passage.test.title) %> </h1>
<p><%= t('.question', number: @test_passage.current_question_number, count: @test_passage.test.questions.count) %></p>

<b>
  <%= @test_passage.current_question.body %>
</b>

<%= form_with url: test_passage_path(@test_passage), data: { turbo: false }, local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.label %>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
    </p>
  <% end %>

  <p><%= form.submit t('global_buttons.next') %></p>
<% end %>