<h2>Title:<%= @test.title %></h2>
<h2>Level:<%= test_level(@test) %></h2>

<h1>Question</h1>

<%= link_to "New question", new_test_question_path(@test) %>
 
<ol>
  <%= render @test.questions %>
</ol>

<%= link_to "Back", tests_path %> 
    